@model QueryUrl
@{
    ViewData["Title"] = "صفحه خانه";
}


<div id="QueryForm" class="input-group mb-3">

    <div class="dropdown input-group-prepend">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" id="selectBtn" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            وبسایت‌ها (هیچکدام)
        </button>
        <div class="dropdown-menu">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="selectAllSources">
                <label class="form-check-label" for="selectAllSources">
                    همه موارد
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input source-checkbox" type="checkbox" value="Jobvision" id="source1">
                <label class="form-check-label" for="Jobvision">
                    جاب‌ویژن
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input source-checkbox" type="checkbox" value="Quera" id="source2">
                <label class="form-check-label" for="Quera">
                    کوئرا
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input source-checkbox" type="checkbox" value="Jobinja" id="source3">
                <label class="form-check-label" for="Jobinja">
                    جابینجا
                </label>
            </div>
        </div>
    </div>

    <input id="searchQuery" type="text" class="form-control">

    <div class="input-group-append">
        <button id="button" class="btn btn-outline-secondary" type="button">جستجو</button>
    </div>

</div>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist" hidden="true">
    </div>
</nav>

<br />

<div class="tab-content" id="nav-tabContent">
</div>

<div class="d-flex justify-content-center">
    <div id="loading" class="spinner-border" role="status" hidden="true">
        <span class="sr-only">در حال بارگزاری ...</span>
    </div>
</div>

<button id="loadMore" type="button" class="btn btn-primary btn-lg btn-block" hidden="true">نمایش بیشتر</button>


<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" dir="rtl">
            </div>
            <div class="mb-4 d-flex justify-content-center" id="loading-modal-container" hidden="true">
                <div id="loading-modal" class="spinner-border" role="status" hidden="true">
                    <span class="sr-only">در حال بارگزاری ...</span>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary modal-button-ad-link" target="_blank">برو به
                    آگهی</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
