/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";

@font-face {
  font-family: "font-yekan";
  src: url("./Yekan.ttf");
}

body,
html {
  font-family: "font-yekan";
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  /* Essential for proper width/height application */
  height: 100vh;
  /* Make the app fill the viewport height */
  width: 100vw;
  /* Make the app fill the viewport width */
  margin: 0;
  /* Remove default body margins */
  box-sizing: border-box;
  /* Include padding and border in element's total width and height */
}

p-menubar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px;
  /* height: 56px; */
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.my-content {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;

  margin-bottom: auto;
}

@media only screen and (min-width: 768px) {
  .my-content {
    max-width: 600px;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }

  p-menubar {
    width: 650px;
    margin: auto;
  }

  .bottom-navbar {
    width: 600px;
    margin: auto;
    border-left: 1px solid #ddd;
    border-top-left-radius: 10px;
    border-right: 1px solid #ddd;
    border-top-right-radius: 10px;
  }
}

.nav-item {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #555;
  font-size: 12px;
}

.nav-item i {
  font-size: 1.4rem;
}

.nav-item.active {
  color: #007ad9;
  /* PrimeNG primary color */
}

.top-bar h3,
p {
  margin: 0px;
}

.search-container {
  display: flex;
}

.search-container .p-inputtext {
  width: 100%;
  margin-left: 5px;
}

.p-tab {
  font-size: small;
}

.p-tabs {
  margin-bottom: 10px;
}

.source-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 10px;
}

.source-selection label {
  font-size: medium;
}

.card-content {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.card-image img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.card-details {
  width: 100%;
}

.card-actions {
  display: flex;
  flex-direction: column;
}

.card-actions .p-button {
  margin: 0px;
  padding: 0px;
}

a.p-button {
  text-decoration: none !important;
}

.loadingIndicator {
  width: 100%;
  text-align: center;
}

.p-progress-spinner {}

.profile-avatar {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid grey;
}

.profile-counter {
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
}