@for (bookmark of bookmarks; track bookmark.id) {
<p-card>
  <div class="card-content">
    <div class="card-image">
      <img src="{{ bookmark.content.logoUrl }}" alt="" />
    </div>
    <div class="card-details">
      <p style="font-weight: bold;">{{ bookmark.content.title }}</p>
      <p>{{ bookmark.content.company ?? "-" }}</p>
      <p>{{ bookmark.content.location ?? "-" }}</p>
      <p style="font-size: small">{{ bookmark.content.dateIdentifier }}</p>
    </div>
    <div class="card-actions">
      <p-button
        size="small"
        icon="pi pi-bookmark-fill"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        (click)="removeBookmark(bookmark.id)"
      />
      <p-button
        size="small"
        icon="pi pi-info-circle"
        [rounded]="true"
        [text]="true"
        severity="info"
        (click)="showModal(bookmark.content.title, bookmark.content.title, bookmark.content.url)"
      />
      <a
        size="small"
        pButton
        [href]="bookmark.content.url"
        icon="pi pi-external-link"
        class="p-button-rounded p-button-text"
        target="_blank"
      >
      </a>
    </div>
  </div>
</p-card>
}

<p-dialog
  header="{{ modalTitle }}"
  [modal]="true"
  [(visible)]="modalVisible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <div [innerHTML]="modalContent"></div>
</p-dialog>
